{% block css %}
<link type="text/css" rel="stylesheet" href="//static.scub3d.io/www/css/error.css"  media="screen,projection"/>
{% end %}

{% block title %}
エラー
{% end %}

{% block navbarTitle %}
<span class="englishText">Beep Boop: 404</span><span class="japaneseText">ビープブープ: 404</span><span class="displayText"></span>
{% end %}

{% block content %}
<h2>
	<div id="error" class="text"><span class="englishText">That doesn't exist :)</span><span class="japaneseText">そんなものは存在しない :)</span><span class="displayText"></span></div>
</h2> 
{% end %}

{% block js %}
<!-- Ignore me? --> 
{% end %}
