{% block css %}
<link type="text/css" rel="stylesheet" href="//static.scub3d.io/www/css/experience.css" media="screen,projection"/>
{% end %}

{% block title %}
Experience
{% end %}

{% block navbarTitle %}
<span class="englishText">Experience</span><span class="japaneseText">職歴</span><span class="displayText"></span>
{% end %}

{% block content %}
<section id="cd-timeline" class="cd-container">
	<div id="nasa_2017" class="cd-timeline-block scrollspy">
		<div class="cd-timeline-img cd-picture"></div>
		<div class="cd-timeline-content">
			<div class="text title">
				<span class="englishText">NASA: Goddard Space Flight Center</span><span class="japaneseText">NASA：ゴダード宇宙飛行センター</span><span class="displayText"></span>
			</div>
			<div class="timeline-content-info title_date">
				<span class="timeline-content-info-title">
					<i class="work"></i>
					<div class="text occupation">
						<span class="englishText">AR/VR Intern</span><span class="japaneseText">AR/VR インターン</span><span class="displayText"></span>
					</div>
				</span>
				<span class="timeline-content-info-date">
					<i class="calendar"></i>
					<div class="text date">
						<span class="englishText">June 2017 - Aug 2017</span><span class="japaneseText">6月2017年 - 8月2017年</span><span class="displayText"></span>
					</div>
				</span>
			</div>
			<div class="text description">
				<span class="englishText">Utilized Unity and C# to make enhancements to a virtual reality project which allowed scientists to assemble spacecraft from a database of vendor parts.</span><span class="japaneseText">UnityとC＃を使って科学者がVRの中でcubesatを作成することを可能にするアプリケーションを改良しました。</span><span class="displayText"></span>
			</div>
			<div class="text description">
				<span class="englishText">Automated the process of importing and converting 3d models by writing a Python script to convert the vendor files to a unique format and smaller size.</span><span class="japaneseText">ベンダーのファイルを新しいのフォーマットと小さいサイズに変換するPythonスクリプトを作成することによって、3Dモデルのインポートと変換のプロセスを自動化しました。</span><span class="displayText"></span>
			</div>
			<ul class="content-skills">
				<li class="text skill"><span class="englishText">Unity</span><span class="japaneseText">ユニティ</span><span class="displayText"></span></li>
				<li class="text skill"><span class="englishText">C#</span><span class="japaneseText">C#</span><span class="displayText"></span></li>
				<li class="text skill"><span class="englishText">Blender</span><span class="japaneseText">ブレンダー</span><span class="displayText"></span></li>
				<li class="text skill"><span class="englishText">Python</span><span class="japaneseText">パイソン</span><span class="displayText"></span></li>
				<li class="text skill"><span class="englishText">Photon</span><span class="japaneseText">フォトン</span><span class="displayText"></span></li>
			</ul>
		</div>
	</div>

	<div id="dverse" class="cd-timeline-block scrollspy">
		<div class="cd-timeline-img cd-picture"></div>
		<div class="cd-timeline-content">
			<div class="text title">
				<span class="englishText">DVERSE</span><span class="japaneseText">DVERSE</span><span class="displayText"></span>
			</div>
			<div class="timeline-content-info title_date">
				<span class="timeline-content-info-title">
					<i class="work"></i>
					<div class="text occupation">
						<span class="englishText">Unity Intern</span><span class="japaneseText">ユニティインターン</span><span class="displayText"></span>
					</div>
				</span>
				<span class="timeline-content-info-date">
					<i class="calendar"></i>
					<div class="text date">
						<span class="englishText">May 2018 - July 2018</span><span class="japaneseText">5月2018年 - 7月2018年</span><span class="displayText"></span>
					</div>
				</span>
			</div>
			<div class="text description">
				<span class="englishText">Upgraded portions of the user interface and the core functionality of the proprietary virtual reality application.</span><span class="japaneseText">UIの一部とVRアプリケーションの主な機能をアップグレードしました。</span><span class="displayText"></span>
			</div>
			<div class="text description">
				<span class="englishText">Created plugins for Blender, SketchUp, and 3ds Max that allowed for real time syncing with Unity.</span><span class="japaneseText">Unityとのリアルタイム同期を可能にするためにBlenderとSketchup Pluginsを作成しました。</span><span class="displayText"></span>
			</div>
			<div class="text description">
				<span class="englishText">Communicated with co-workers every day in both Japanese and English.</span><span class="japaneseText">毎日、同僚と一緒に日本語と英語で伝える。</span><span class="displayText"></span>
			</div>
			<ul class="content-skills">
				<li class="text skill"><span class="englishText">Unity</span><span class="japaneseText">ユニティ</span><span class="displayText"></span></li>
				<li class="text skill"><span class="englishText">C#</span><span class="japaneseText">C#</span><span class="displayText"></span></li>
				<li class="text skill"><span class="englishText">Blender</span><span class="japaneseText">ブレンダー</span><span class="displayText"></span></li>
				<li class="text skill"><span class="englishText">Python</span><span class="japaneseText">パイソン</span><span class="displayText"></span></li>
				<li class="text skill"><span class="englishText">SketchUp</span><span class="japaneseText">スケッチアップ</span><span class="displayText"></span></li>
				<li class="text skill"><span class="englishText">Ruby</span><span class="japaneseText">ルビー</span><span class="displayText"></span></li>
			</ul>
		</div>
	</div>

	<div id="unity" class="cd-timeline-block scrollspy">
		<div class="cd-timeline-img cd-picture"></div>
		<div class="cd-timeline-content">
			<div class="text title">
				<span class="englishText">Unity Technologies</span><span class="japaneseText">ユニティテクノロジーズ</span><span class="displayText"></span>
			</div>
			<div class="timeline-content-info title_date">
				<span class="timeline-content-info-title">
					<i class="work"></i>
					<div class="text occupation">
						<span class="englishText">Student Ambassador</span><span class="japaneseText">学生大使</span><span class="displayText"></span>
					</div>
				</span>
				<span class="timeline-content-info-date">
					<i class="calendar"></i>
					<div class="text date">
						<span class="englishText">Sept 2018 - Dec 2019</span><span class="japaneseText">9月2018年 - 12月2019年</span><span class="displayText"></span>
					</div>
				</span>
			</div>
			<div class="text description">
				<span class="englishText">Hosting and supporting events/meetups for my local campus and communities regarding Unity.</span><span class="japaneseText">Unityに関する地元のキャンパスやコミュニティのためのイベントやミートアップを主催し、支援しています。</span><span class="displayText"></span>
			</div>
			<div class="text description">
				<span class="englishText">Staff booths and tables at Unity events.</span><span class="japaneseText">Unityイベントのスタッフブースとテーブル。</span><span class="displayText"></span>
			</div>
			<div class="text description">
				<span class="englishText">Demoed Unity games and applications to GDC attendees (2019).</span><span class="japaneseText">GDCの参加者にUnityのゲームやアプリケーションをデモした (2019年)。</span><span class="displayText"></span>
			</div>
			<ul class="content-skills">
				<li class="text skill"><span class="englishText">Unity</span><span class="japaneseText">ユニティ</span><span class="displayText"></span></li>
				<li class="text skill"><span class="englishText">C#</span><span class="japaneseText">C#</span><span class="displayText"></span></li>
			</ul>
		</div>
	</div>

	<div id="nasa_2019" class="cd-timeline-block scrollspy">
		<div class="cd-timeline-img cd-picture"></div>
		<div class="cd-timeline-content">
			<div class="text title">
				<span class="englishText">NASA: Goddard Space Flight Center</span><span class="japaneseText">NASA：ゴダード宇宙飛行センター</span><span class="displayText"></span>
			</div>
			<div class="timeline-content-info title_date">
				<span class="timeline-content-info-title">
					<i class="work"></i>
					<div class="text occupation">
						<span class="englishText">AR/VR Intern</span><span class="japaneseText">AR/VR インターン</span><span class="displayText"></span>
					</div>
				</span>
				<span class="timeline-content-info-date">
					<i class="calendar"></i>
					<div class="text date">
						<span class="englishText">June 2019 - Aug 2019</span><span class="japaneseText">6月2019年 - 8月2019年</span><span class="displayText"></span>
					</div>
				</span>
			</div>
			<div class="text description">
				<span class="englishText">Designed a program that converts reflectance data from the Lunar Reconnaissance Orbiter into terrain meshes.</span><span class="japaneseText">Lunar Reconnaissance Orbiterからの反射率データを地形メッシュに変換するプログラムを設計しました。</span><span class="displayText"></span>
			</div>
			<div class="text description">
				<span class="englishText">Created modular software that allows users to construct 3D models while in VR.</span><span class="japaneseText">ユーザーがVRで3Dモデルを構築できるモジュラーソフトウェアを作成しました。</span><span class="displayText"></span>
			</div>
			<ul class="content-skills">
				<li class="text skill"><span class="englishText">Unity</span><span class="japaneseText">ユニティ</span><span class="displayText"></span></li>
				<li class="text skill"><span class="englishText">C#</span><span class="japaneseText">C#</span><span class="displayText"></span></li>
				<li class="text skill"><span class="englishText">Blender</span><span class="japaneseText">ブレンダー</span><span class="displayText"></span></li>
				<li class="text skill"><span class="englishText">Python</span><span class="japaneseText">パイソン</span><span class="displayText"></span></li>
				<li class="text skill"><span class="englishText">UE4</span><span class="japaneseText">フォトン</span><span class="displayText"></span></li>
				<li class="text skill"><span class="englishText">C++</span><span class="japaneseText">C++</span><span class="displayText"></span></li>
			</ul>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-location"></div> 
		<div class="cd-timeline-content">
			<h2 class="text center">
				<span class="englishText">Graduated University</span><span class="japaneseText">卒業した大学</span><span class="displayText"></span>
			</h2>

			<p class="text center">
				<span class="englishText">Oakland University</span><span class="japaneseText">オークランド大学</span><span class="displayText"></span>
			</p>

			<span class="cd-date text">
				<span class="englishText">Dec 2019</span><span class="japaneseText">2019年12月</span><span class="displayText"></span>
			</span>
		</div> 
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-location"></div> 
		<div class="cd-timeline-content">
			<h2 class="text center">
				<span class="englishText">Started work</span><span class="japaneseText">仕事を始めました</span><span class="displayText"></span>
			</h2>

			<p class="text center">
				<span class="englishText">Amazon</span><span class="japaneseText">アマゾン</span><span class="displayText"></span>
			</p>

			<span class="cd-date text">
				<span class="englishText">July 2020 - Present</span><span class="japaneseText">7月2020年 - 現代</span><span class="displayText"></span>
			</span>
		</div> 
	</div>
</section>
{% end %}

{% block js %}
<!-- Ignore me? --> 
{% end %}
