{% block css %}
<link type="text/css" rel="stylesheet" href="//static.scub3d.io/www/css/hackathons.css"  media="screen,projection"/>
{% end %}

{% block title %}
Hackathons
{% end %}

{% block navbarTitle %}
<span class="englishText">Hackathon Awards</span><span class="japaneseText">ハッカソン賞</span><span class="displayText"></span>
{% end %}

{% block content %}
<div class="row root">
	<div class="hackathon-card col s12 m6 l2">
		<a href="https://devpost.com/software/rockalanche" class="eventWrapper">
			<div class="inner">
				<div class="splashWrap">
					<img src="//static.scub3d.io/www/img/hackathons/hackIllinois_2015_splash.png" class="splash"/>
				</div>
				<div class="logoWrap">
					<img src="//static.scub3d.io/www/img/hackathons/hackIllinois_2015_logo.png" class="logo" />
				</div>
				<h3 class="name text"><span class="englishText">HackIllinois</span><span class="japaneseText">HackIllinois</span><span class="displayText"></span></h3>
				<p class="date text"><span class="englishText">Feb 27th - Mar 1st 2015</span><span class="japaneseText">2015年、2月27日 - 3月1日</span><span class="displayText"></span></p>
				<span class="location text"><span class="englishText">Champaign-Urbana, IL</span><span class="japaneseText">イリノイ州シャンペーン</span><span class="displayText"></span></span>
			</div>
		</a>
	</div>

	<div class="hackathon-card col s12 m6 l2">
		<a href="https://devpost.com/software/pokemon-rift" class="eventWrapper">
			<div class="inner">
				<div class="splashWrap">
					<img src="//static.scub3d.io/www/img/hackathons/spartahack_2015_splash.png" class="splash"/>
				</div>
				<div class="logoWrap">
					<img src="//static.scub3d.io/www/img/hackathons/spartahack_2015_logo.png" class="logo" />
				</div>
				<h3 class="name text"><span class="englishText">SpartaHack</span><span class="japaneseText">SpartaHack</span><span class="displayText"></span></h3>
				<p class="date text"><span class="englishText">Mar 27th - 29th 2015</span><span class="japaneseText">2015年、3月27日 - 3月29日</span><span class="displayText"></span></p>
				<span class="location text"><span class="englishText">East Lansing, MI</span><span class="japaneseText">ミシガン州イーストランシング</span><span class="displayText"></span></span>
			</div>
		</a>
	</div>

	<div class="hackathon-card col s12 m6 l2">
		<a href="https://devpost.com/software/project-pac-man" class="eventWrapper">
			<div class="inner">
				<div class="splashWrap">
					<img src="//static.scub3d.io/www/img/hackathons/khe_2015_splash.jpg" class="splash"/>
				</div>
				<div class="logoWrap">
					<img src="//static.scub3d.io/www/img/hackathons/khe_2015_logo.jpg" class="logo" />
				</div>
				<h3 class="name text"><span class="englishText">Kent Hack Enough</span><span class="japaneseText">Kent Hack Enough</span><span class="displayText"></span></h3>
				<p class="date text"><span class="englishText">Oct 9th - 11th 2015</span><span class="japaneseText">2015年、10月9日 - 10月11日</span><span class="displayText"></span></p>
				<span class="location text"><span class="englishText">Kent, OH</span><span class="japaneseText">オハイオ州ケント</span><span class="displayText"></span></span>
			</div>
		</a>
	</div>

	<div class="hackathon-card col s12 m6 l2">
		<a href="https://devpost.com/software/achieve-mobile-app" class="eventWrapper">
			<div class="inner">
				<div class="splashWrap">
					<img src="//static.scub3d.io/www/img/hackathons/hi_test_splash.jpg" class="splash"/>
				</div>
				<div class="logoWrap">
					<img src="//static.scub3d.io/www/img/hackathons/hi_test.png" class="logo" />
				</div>
				<h3 class="name text"><span class="englishText">HackIllinois</span><span class="japaneseText">HackIllinois</span><span class="displayText"></span></h3>
				<p class="date text"><span class="englishText">Feb 19th - 21st 2016</span><span class="japaneseText">2016年、2月19日 - 2月21日</span><span class="displayText"></span></p>
				<span class="location text"><span class="englishText">Champaign-Urbana, IL</span><span class="japaneseText">イリノイ州シャンペーン</span><span class="displayText"></span></span>
			</div>
		</a>
	</div>

	<div class="hackathon-card col s12 m6 l2">
		<a href="https://devpost.com/software/we-ll-come-back-to-this-later" class="eventWrapper">
			<div class="inner">
				<div class="splashWrap">
					<img src="//static.scub3d.io/www/img/hackathons/spartahack_2016_splash.png" class="splash"/>
				</div>
				<div class="logoWrap">
					<img src="//static.scub3d.io/www/img/hackathons/spartahack_2016_logo.png" class="logo" />
				</div>
				<h3 class="name text"><span class="englishText">SpartaHack</span><span class="japaneseText">SpartaHack</span><span class="displayText"></span></h3>
				<p class="date text"><span class="englishText">Feb 26th - 28th 2016</span><span class="japaneseText">2016年、2月26日 - 2月28日</span><span class="displayText"></span></p>
				<span class="location text"><span class="englishText">East Lansing, MI</span><span class="japaneseText">ミシガン州イーストランシング</span><span class="displayText"></span></span>
			</div>
		</a>
	</div>

	<div class="hackathon-card col s12 m6 l2">
		<a href="https://devpost.com/software/project-sluggers" class="eventWrapper">
			<div class="inner">
				<div class="splashWrap">
					<img src="//static.scub3d.io/www/img/hackathons/splash.jpg" class="splash"/>
				</div>
				<div class="logoWrap">
					<img src="//static.scub3d.io/www/img/hackathons/mlh_prime_2016_logo.gif" class="logo" />
				</div>
				<h3 class="name text"><span class="englishText">MLH Prime</span><span class="japaneseText">MLH Prime</span><span class="displayText"></span></h3>
				<p class="date text"><span class="englishText">Aug 5th - 7th 2016</span><span class="japaneseText">2016年、8月5日 - 8月7日</span><span class="displayText"></span></p>
				<span class="location text"><span class="englishText">Bell Labs, NJ</span><span class="japaneseText">ニュージャージー州ベル研究所</span><span class="displayText"></span></span>
			</div>
		</a>
	</div>

	<div class="hackathon-card col s12 m6 l2">
		<a href="https://devpost.com/software/project-open-heart" class="eventWrapper">
			<div class="inner">
				<div class="splashWrap">
					<img src="//static.scub3d.io/www/img/hackathons/htn_2016_splash.jpg" class="splash"/>
				</div>
				<div class="logoWrap">
					<img src="//static.scub3d.io/www/img/hackathons/htn_2016_logo.jpg" class="logo" />
				</div>
				<h3 class="name text"><span class="englishText">Hack The North</span><span class="japaneseText">Hack The North</span><span class="displayText"></span></h3>
				<p class="date text"><span class="englishText">Sep 16th - 18th 2016</span><span class="japaneseText">2016年、9月16日 - 9月18日</span><span class="displayText"></span></p>
				<span class="location text"><span class="englishText">Waterloo, ON</span><span class="japaneseText">オンタリオ州ウォータールー</span><span class="displayText"></span></span>
			</div>
		</a>
	</div>

	<div class="hackathon-card col s12 m6 l2">
		<a href="https://devpost.com/software/blendexa" class="eventWrapper">
			<div class="inner">
				<div class="splashWrap">
					<img src="//static.scub3d.io/www/img/hackathons/spartahack_2017_splash.png" class="splash"/>
				</div>
				<div class="logoWrap">
					<img src="//static.scub3d.io/www/img/hackathons/spartahack_2017_logo.png" class="logo" />
				</div>
				<h3 class="name text"><span class="englishText">SpartaHack</span><span class="japaneseText">SpartaHack</span><span class="displayText"></span></h3>
				<p class="date text"><span class="englishText">Jan 20th - 22nd 2017</span><span class="japaneseText">2017年、1月20日 - 1月22日</span><span class="displayText"></span></p>
				<span class="location text"><span class="englishText">East Lansing, MI</span><span class="japaneseText">ミシガン州イーストランシング</span><span class="displayText"></span></span>
			</div>
		</a>
	</div>

	<div class="hackathon-card col s12 m6 l2">
		<a href="https://devpost.com/software/project-air" class="eventWrapper">
			<div class="inner">
				<div class="splashWrap">
					<img src="//static.scub3d.io/www/img/hackathons/mhacks9_2017_splash.png" class="splash"/>
				</div>
				<div class="logoWrap">
					<img src="//static.scub3d.io/www/img/hackathons/mhacks9_2017_logo.png" class="logo" />
				</div>
				<h3 class="name text"><span class="englishText">MHacks 9</span><span class="japaneseText">MHacks 9</span><span class="displayText"></span></h3>
				<p class="date text"><span class="englishText">Mar 24th - 26th 2017</span><span class="japaneseText">2017年、3月24日 - 3月26日</span><span class="displayText"></span></p>
				<span class="location text"><span class="englishText">Ann Arbor, MI</span><span class="japaneseText">ミシガン州アナーバー</span><span class="displayText"></span></span>
			</div>
		</a>
	</div>

	<div class="hackathon-card col s12 m6 l2">
		<a href="https://devpost.com/software/project-vendio" class="eventWrapper">
			<div class="inner">
				<div class="splashWrap">
					<img src="//static.scub3d.io/www/img/hackathons/junction-tokyo_2017_splash.png" class="splash"/>
				</div>
				<div class="logoWrap">
					<img src="//static.scub3d.io/www/img/hackathons/junction-tokyo_2017_logo.png" class="logo" />
				</div>
				<h3 class="name text"><span class="englishText">Junction Tokyo</span><span class="japaneseText">Junction Tokyo</span><span class="displayText"></span></h3>
				<p class="date text"><span class="englishText">APR 28th - 30th 2017</span><span class="japaneseText">2017年、4月28日 - 4月30日</span><span class="displayText"></span></p>
				<span class="location text"><span class="englishText">Tokyo, JP</span><span class="japaneseText">東京、日本</span><span class="displayText"></span></span>
			</div>
		</a>
	</div>

	<div class="hackathon-card col s12 m6 l2">
		<a href="https://devpost.com/software/unwearable" class="eventWrapper">
			<div class="inner">
				<div class="splashWrap">
					<img src="//static.scub3d.io/www/img/hackathons/hack-cincy_2017_splash.png" class="splash"/>
				</div>
				<div class="logoWrap">
					<img src="//static.scub3d.io/www/img/hackathons/hack-cincy_2017_logo.png" class="logo" />
				</div>
				<h3 class="name text"><span class="englishText">Hack Cincy</span><span class="japaneseText">Hack Cincy</span><span class="displayText"></span></h3>
				<p class="date text"><span class="englishText">Aug 19th - 20th 2017</span><span class="japaneseText">2017年、8月18日 - 8月20日</span><span class="displayText"></span></p>
				<span class="location text"><span class="englishText">Cincinnati, OH</span><span class="japaneseText">オハイオ州シンシナティ</span><span class="displayText"></span></span>
			</div>
		</a>
	</div>

	<div class="hackathon-card col s12 m6 l2">
		<a href="https://devpost.com/software/deep-reality" class="eventWrapper">
			<div class="inner">
				<div class="splashWrap">
					<img src="//static.scub3d.io/www/img/hackathons/htn_2016_splash.jpg" class="splash"/>
				</div>
				<div class="logoWrap">
					<img src="//static.scub3d.io/www/img/hackathons/hackthenorth_2017_logo.png" class="logo" />
				</div>
				<h3 class="name text"><span class="englishText">Hack The North</span><span class="japaneseText">Hack The North</span><span class="displayText"></span></h3>
				<p class="date text"><span class="englishText">SEP 15th - 17th 2017</span><span class="japaneseText">2017年、9月15日 - 9月17日</span><span class="displayText"></span></p>
				<span class="location text"><span class="englishText">Waterloo, ON</span><span class="japaneseText">オンタリオ州ウォータールー</span><span class="displayText"></span></span>
			</div>
		</a>
	</div>

	<div class="hackathon-card col s12 m6 l2">
		<a href="https://devpost.com/software/swagoverflow" class="eventWrapper">
			<div class="inner">
				<div class="splashWrap">
					<img src="//static.scub3d.io/www/img/hackathons/mhacksx_2017_splash.png" class="splash"/>
				</div>
				<div class="logoWrap">
					<img src="//static.scub3d.io/www/img/hackathons/mhacksx_2017_logo.png" class="logo" />
				</div>
				<h3 class="name text"><span class="englishText">MHacks X</span><span class="japaneseText">MHacks X</span><span class="displayText"></span></h3>
				<p class="date text"><span class="englishText">Sep 22nd - 24th 2017</span><span class="japaneseText">2017年、9月22日 - 9月24日</span><span class="displayText"></span></p>
				<span class="location text"><span class="englishText">Ann Arbor, MI</span><span class="japaneseText">ミシガン州アナーバー</span><span class="displayText"></span></span>
			</div>
		</a>
	</div>

	<div class="hackathon-card col s12 m6 l2">
		<a href="https://devpost.com/software/vr-barista-trainer" class="eventWrapper">
			<div class="inner">
				<div class="splashWrap">
					<img src="//static.scub3d.io/www/img/hackathons/spartahack_2018_splash.png" class="splash"/>
				</div>
				<div class="logoWrap">
					<img src="//static.scub3d.io/www/img/hackathons/spartahack_2018_logo.png" class="logo" />
				</div>
				<h3 class="name text"><span class="englishText">SpartaHack IV</span><span class="japaneseText">SpartaHack IV</span><span class="displayText"></span></h3>
				<p class="date text"><span class="englishText">Jan 19th - 21st 2018</span><span class="japaneseText">2018年、1月19日 - 1月21日</span><span class="displayText"></span></p>
				<span class="location text"><span class="englishText">East Lansing, MI</span><span class="japaneseText">ミシガン州イーストランシング</span><span class="displayText"></span></span>
			</div>
		</a>
	</div>

	<div class="hackathon-card col s12 m6 l2">
		<a href="https://devpost.com/software/vr-gloves" class="eventWrapper">
			<div class="inner">
				<div class="splashWrap">
					<img src="//static.scub3d.io/www/img/hackathons/hackcwru_2018_splash.jpg" class="splash"/>
				</div>
				<div class="logoWrap">
					<img src="//static.scub3d.io/www/img/hackathons/hackcwru_2018_logo.png" class="logo" />
				</div>
				<h3 class="name text"><span class="englishText">HackCWRU V</span><span class="japaneseText">HackCWRU V</span><span class="displayText"></span></h3>
				<p class="date text"><span class="englishText">Feb 16th - 18th 2018</span><span class="japaneseText">2018年、2月16日 - 2月18日</span><span class="displayText"></span></p>
				<span class="location text"><span class="englishText">Cleveland, OH</span><span class="japaneseText">オハイオ州クリーブランド</span><span class="displayText"></span></span>
			</div>
		</a>
	</div>

	<div class="hackathon-card col s12 m6 l2">
		<a href="https://devpost.com/software/vr-piano" class="eventWrapper">
			<div class="inner">
				<div class="splashWrap">
					<img src="//static.scub3d.io/www/img/hackathons/m11_splash.jpg" class="splash"/>
				</div>
				<div class="logoWrap">
					<img src="//static.scub3d.io/www/img/hackathons/m11_logo.png" class="logo" />
				</div>
				<h3 class="name text"><span class="englishText">MHacks 11</span><span class="japaneseText">MHacks 11</span><span class="displayText"></span></h3>
				<p class="date text"><span class="englishText">Oct 12th - 14th 2018</span><span class="japaneseText">2018年、10月12日 - 10月14日</span><span class="displayText"></span></p>
				<span class="location text"><span class="englishText">Ann Arbor, MI</span><span class="japaneseText">ミシガン州アナーバー</span><span class="displayText"></span></span>
			</div>
		</a>
	</div>

	<div class="hackathon-card col s12 m6 l2">
		<a href="https://devpost.com/software/d-d-xr" class="eventWrapper">
			<div class="inner">
				<div class="splashWrap">
					<img src="//static.scub3d.io/www/img/hackathons/spartahack_v_2019_splash.png" class="splash"/>
				</div>
				<div class="logoWrap">
					<img src="//static.scub3d.io/www/img/hackathons/spartahack_v_2019_logo.png" class="logo" />
				</div>
				<h3 class="name text"><span class="englishText">SpartaHack V</span><span class="japaneseText">SpartaHack V</span><span class="displayText"></span></h3>
				<p class="date text"><span class="englishText">Jan 18th - 20th 2019</span><span class="japaneseText">2019年、2月18日 - 2月20日</span><span class="displayText"></span></p>
				<span class="location text"><span class="englishText">East Lansing, MI</span><span class="japaneseText">ミシガン州イーストランシング</span><span class="displayText"></span></span>
			</div>
		</a>
	</div>

	<div class="hackathon-card col s12 m6 l2">
		<a href="https://devpost.com/software/babel-ar" class="eventWrapper">
			<div class="inner">
				<div class="splashWrap">
					<img src="//static.scub3d.io/www/img/hackathons/brickhack_v_2019_splash.png" class="splash"/>
				</div>
				<div class="logoWrap">
					<img src="//static.scub3d.io/www/img/hackathons/brickhack_v_2019_logo.png" class="logo" />
				</div>
				<h3 class="name text"><span class="englishText">BrickHack V</span><span class="japaneseText">BrickHack V</span><span class="displayText"></span></h3>
				<p class="date text"><span class="englishText">Feb 16th - 17th 2019</span><span class="japaneseText">2019年、2月16日 - 2月17日</span><span class="displayText"></span></p>
				<span class="location text"><span class="englishText">Rochester, NY</span><span class="japaneseText">ニューヨーク州ロチェスター</span><span class="displayText"></span></span>
			</div>
		</a>
	</div>
</div>
{% end %}

{% block js %}
<script type="text/javascript" src="//static.scub3d.io/www/js/hackathons.js"></script>
{% end %}
