{% block css %}
<link type="text/css" rel="stylesheet" href="//static.scub3d.io/www/css/index.css"  media="screen,projection"/>
{% end %}

{% block title %}
About me
{% end %}

{% block navbarTitle %}
<span class="englishText">About me</span><span class="japaneseText">私について</span><span class="displayText"></span>
{% end %}

{% block content %}
<header>
	<div class="spenser">
		<canvas class="avatar hide-on-small-only" id="myCanvas" width="250px" height="250px"></canvas>
		<img class="avatar hide-on-med-and-up show-on-small" src="//static.scub3d.io/www/img/index/me.jpg">

		<h2>
			<div id="name" class="text"><span class="englishText">Spenser Solys</span><span class="japaneseText">スペンサー ソリス</span><span class="displayText"></span></div>
		</h2>
		<div class="socials">
			<a class="twitter" href="https://twitter.com/scub3d" target="_blank">Twitter</a>
			<a class="linkedin" href="https://linkedin.com/in/scub3d" target="_blank">LinkedIn</a>
			<a class="github" href="https://github.com/scub3d" target="_blank">GitHub</a>
			<a class="devpost" href="https://devpost.com/scub3d" target="_blank">Devpost</a>
			<a class="sketchfab" href="https://sketchfab.com/scub3d" target="_blank">SketchFab</a>
		</div>
	
		<h2>
			<div id="title" class="text"><span class="englishText">Hi. My name is Spenser and I am a Senior Software Engineer at Store Nº8 / Walmart in Seattle. I have over 9 years of experience creating VR and AR applications. I am skilled in both OOP and ECS design patterns and have extensive experience rapidly prototyping.</span><span class="japaneseText">こんにちは。 私の名前はスペンサーです。シアトルでStore Nº8 / Walmartのシニア ソフトウェア エンジニアです。 VRおよびARアプリケーションの作成に9年以上の経験があります。 OOPとECSの両方の設計パターンに熟練しており、迅速なプロトタイピングの豊富な経験があります。</span><span class="displayText"></span></div>
		</h2>
	</div>
</header>
{% end %}

{% block js %}
<script type="text/javascript" src="//static.scub3d.io/www/js/glitched-img.js"></script>
{% end %}
