{% block css %}
<link type="text/css" rel="stylesheet" href="//static.scub3d.io/www/css/league-ar.css"  media="screen,projection"/>
{% end %}

{% block title %}
League AR
{% end %}

{% block navbarTitle %}
<span class="englishText">League AR</span><span class="japaneseText">League AR</span><span class="displayText"></span>
{% end %}

{% block content %}
<div class="row root">
	<div class="col s12 m6 l8">
		<h4 class="description text">
			<span class="englishText">League AR was built at the 2018 Riot Games Hackathon at Riot HQ in Los Angeles over 3 days.</span>
			<span class="japaneseText">League ARは、ロサンゼルスのRiot HQで開催された2018 Riot Games Hackathonで3日間かけて構築されました。</span>
			<span class="displayText"></span>
		</h4>

		<h4 class="description text">
			<span class="englishText">The app allows users to view replays of professional LoL matches on their smart phones in augmented reality.</span>
			<span class="japaneseText">このアプリを使用すると、ユーザーは拡張現実のスマートフォンでプロのLoLマッチのリプレイを見ることができます。</span>
			<span class="displayText"></span>
		</h4>

		<h4 class="description text">
			<span class="englishText">With a little modification, the app would also enable users to view live matches as well.</span>
			<span class="japaneseText">少し変更するだけで、アプリはユーザーがライブの試合も表示できるようになります。</span>
			<span class="displayText"></span>
		</h4>

		<h4 class="description text">
			<span class="englishText">For more footage of the app, check out Riot's Instagram Story. For more information on the hackathon, check out Riot's DevRel blog</span>
			<span class="japaneseText">アプリの詳細については、RiotのInstagram Storyをご覧ください。このハッカソンの詳細については、RiotのDevRelブログをご覧ください。</span>
			<span class="displayText"></span>
		</h4>

		<div id="links" class="row">
			<div class="center col s12 m12 l6">
				<a href="https://www.instagram.com/stories/highlights/17998515211004878/" target="_blank">
					<h4 class="text">
						<span class="englishText">Riot's Instagram Story.</span>
						<span class="japaneseText">RiotのInstagram Story</span>
						<span class="displayText">RiotのInstagram Story</span>
					</h4>
				</a>
			</div>
			<div class="center col s12 m12 l6">
				<a href="https://www.riotgames.com/en/DevRel/hackathon-2018" target="_blank">
					<h4 class="text">
						<span class="englishText">Riot's DevRel blog</span>
						<span class="japaneseText">RiotのDevRelブログ</span>
						<span class="displayText">RiotのDevRelブログ</span>
					</h4>
				</a>
			</div>
		</div>

		<div class="content content--center">
			<div id="grid" class="grid grid--type-c">
				
				<div class="grid__sizer"></div>
				
				<div class="grid__item">
					<video class="grid__video" preload="true" autoplay="autoplay" loop="loop" muted>
				        <source src="//static.scub3d.io/www/video/league_ar_insta_1.mp4" type="video/mp4">
				    </video>
				</div>

				<div class="grid__item">
					<video class="grid__video" preload="true" autoplay="autoplay" loop="loop" muted>
				        <source src="//static.scub3d.io/www/video/league_ar_insta_2.mp4" type="video/mp4">
				    </video>
				</div>

				<div class="grid__item">
					<video class="grid__video" preload="true" autoplay="autoplay" loop="loop" muted>
				        <source src="//static.scub3d.io/www/video/league_ar_insta_3.mp4" type="video/mp4">
				    </video>
				</div>

				<div class="grid__item">
					<video class="grid__video" preload="true" autoplay="autoplay" loop="loop" muted>
				        <source src="//static.scub3d.io/www/video/league_ar_insta_4.mp4" type="video/mp4">
				    </video>
				</div>
			</div>
		</div>
	</div>
		
	<div class=" col s12 m6 l4">
		<blockquote class="twitter-tweet" data-theme="dark">
			<p lang="en" dir="ltr">
				Ayyy that&#39;s an early version of our AR App! We had such a great week at <a href="https://twitter.com/riotgames?ref_src=twsrc%5Etfw">@riotgames</a>. 
				Our hack uses the lolEsports, Tournament, and timeline APIs to re-render LoL matches in AR using <a href="https://twitter.com/unity3d?ref_src=twsrc%5Etfw">@unity3d</a>. 
				<br><br>We get frame data sporadically so we have to interpolate champion positions <a href="https://twitter.com/hashtag/ar?src=hash&amp;ref_src=twsrc%5Etfw">#ar</a>
				 <a href="https://t.co/VLhcyIgm6U">pic.twitter.com/VLhcyIgm6U</a>
			</p>&mdash; Liam Santa 🎅 (@LiamSorta) <a href="https://twitter.com/LiamSorta/status/1062063277595738112?ref_src=twsrc%5Etfw">November 12, 2018</a>
		</blockquote> 
	</div>
</div>
{% end %}

{% block js %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script type="text/javascript" src="//static.scub3d.io/www/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="//static.scub3d.io/www/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="//static.scub3d.io/www/js/anime.min.js"></script>
<script type="text/javascript" src="//static.scub3d.io/www/js/league_ar.js"></script>
{% end %}
