{% block css %}
<link rel="stylesheet" type="text/css" href="//static.scub3d.io/www/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="//static.scub3d.io/www/css/projects.css" />
{% end %}

{% block title %}
Projects
{% end %}

{% block navbarTitle %}
<span class="englishText">Projects</span><span class="japaneseText">プロジェクト</span><span class="displayText"></span>
{% end %}

{% block content %}
<div id="main">
	<div class="content content--center">
		<div id="grid" class="grid grid--type-c">
			
			<div class="grid__sizer"></div>
			
			<div class="grid__item">
				<a class="grid__link" href="https://minesweeper.scub3d.io/presskit">
					<img class="grid__img" src="//static.scub3d.io/www/img/projects/minesweeper.gif"/>
					<div class="grid__img__desc_layer">
						<p class="grid__img__desc text"><span class="englishText">3D Minesweeper</span><span class="japaneseText">3Dマインスイーパ</span><span class="displayText"></span></p>
					</div>
				</a>
			</div>

			<div class="grid__item">
				<a class="grid__link" href="https://github.com/supergrecko/LeagueVoice" target="_blank">
					<img class="grid__img" src="//static.scub3d.io/www/img/projects/league_voice.png" alt="" />
					<div class="grid__img__desc_layer">
						<p class="grid__img__desc text"><span class="englishText">League Voice</span><span class="japaneseText">リーグボイス</span><span class="displayText"></span></p>
					</div>
				</a>
			</div>

			<div class="grid__item">
				<a class="grid__link" href="https://devpost.com/software/project-saoui" target="_blank">
					<img class="grid__img" src="//static.scub3d.io/www/img/projects/saoui.gif" alt="VR SAO UI" />
					<div class="grid__img__desc_layer">
						<p class="grid__img__desc text"><span class="englishText">VR SAO UI</span><span class="japaneseText">VR SAO UI</span><span class="displayText"></span></p>
					</div>
				</a>
			</div>
			
			<div class="grid__item">
				<a class="grid__link" href="https://devpost.com/software/swagoverflow" target="_blank">
					<img class="grid__img" src="//static.scub3d.io/www/img/projects/gallery.jpg" alt="Stickers!" />
					<div class="grid__img__desc_layer">
						<p class="grid__img__desc text"><span class="englishText">stickeroverflow.io</span><span class="japaneseText">stickeroverflow.io</span><span class="displayText"></span></p>
					</div>
				</a>
			</div>

			<div class="grid__item">
				<a class="grid__link" href="/league-ar">
					<img class="grid__img" src="//static.scub3d.io/www/img/projects/league-ar.gif" alt="" />
					<div class="grid__img__desc_layer">
						<p class="grid__img__desc text"><span class="englishText">League AR</span><span class="japaneseText">League AR</span><span class="displayText"></span></p>
					</div>
				</a>
			</div> 

			<div class="grid__item">
				<a class="grid__link" href="https://github.com/Scub3d/Jhinxz" target="_blank">
					<img class="grid__img" src="https://na.leagueoflegends.com/sites/default/files/styles/scale_xlarge/public/upload/heimerbanner-1920x1080_3.jpg?itok=6rVNdcjR" alt="" />
					<div class="grid__img__desc_layer">
						<p class="grid__img__desc text"><span class="englishText">Jhinxz</span><span class="japaneseText">Jhinxz</span><span class="displayText"></span></p>
					</div>
				</a>
			</div>

			<div class="grid__item">
				<!-- <a class="grid__link" href="//static.scub3d.io/www/downloads/automotive-security-research-workshops-summary.pdf" target="_blank">	 --> <!-- If the link ever goes dead. -->
				<a class="grid__link" href="https://www.intel.com/content/dam/www/public/us/en/documents/product-briefs/automotive-security-research-workshops-summary.pdf" target="_blank">
					<img class="grid__img" src="//static.scub3d.io/www/img/projects/intel_auto.png" alt="Intel Automotive" />
					<div class="grid__img__desc_layer">
						<p class="grid__img__desc text"><span class="englishText">Intel Automotive Security</span><span class="japaneseText">Intel Automotive Security</span><span class="displayText"></span></p>
					</div>
				</a>
			</div>
			 				
			<div class="grid__item">
				<a class="grid__link" href="https://github.com/Scub3d/Scub3d.io" target="_blank">
					<img class="grid__img" src="//static.scub3d.io/www/img/projects/scub3d.io.gif" alt="scub3d.io" />
					<div class="grid__img__desc_layer">
						<p class="grid__img__desc text"><span class="englishText">Scub3d.io</span><span class="japaneseText">Scub3d.io</span><span class="displayText"></span></p>
					</div>
				</a>
			</div> 

			<div class="grid__item">
				<a class="grid__link" href="https://github.com/Scub3d/pysat-2" target="_blank">
					<img class="grid__img" src="//static.scub3d.io/www/img/projects/pysat-2.gif" alt="pysat-2" />
					<div class="grid__img__desc_layer">
						<p class="grid__img__desc text"><span class="englishText">pysat-2</span><span class="japaneseText">pysat-2</span><span class="displayText"></span></p>
					</div>
				</a>
			</div>

			<div class="grid__item">
				<a class="grid__link" href="https://devpost.com/software/project-splatter" target="_blank">
					<img class="grid__img" src="//static.scub3d.io/www/img/projects/splatter.gif" alt="pysat-2" />
					<div class="grid__img__desc_layer">
						<p class="grid__img__desc text"><span class="englishText">Project Spatter</span><span class="japaneseText">プロジェクトスプラッター</span><span class="displayText"></span></p>
					</div>
				</a>
			</div> 

			<div class="grid__item">
				<a class="grid__link" href="https://github.com/Scub3d/Binging-with-Babish" target="_blank">
					<img class="grid__img" src="//static.scub3d.io/www/img/projects/binging_with_babish.gif" alt="Binging with Babish" />
					<div class="grid__img__desc_layer">
						<p class="grid__img__desc text"><span class="englishText">Binging with Babish</span><span class="japaneseText">バビッシュといっしょうにビンギング</span><span class="displayText"></span></p>
					</div>
				</a>
			</div> 	
		</div>
	</div>
</div>
{% end %}

{% block js %}
<script type="text/javascript" src="//static.scub3d.io/www/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="//static.scub3d.io/www/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="//static.scub3d.io/www/js/anime.min.js"></script>
<script type="text/javascript" src="//static.scub3d.io/www/js/projects.js"></script>
{% end %}
