{% block css %}
<link type="text/css" rel="stylesheet" href="//static.scub3d.io/minesweeper/css/presskit.css"  media="screen,projection"/>
{% end %}

{% block title %}
Minesweeper in 3D!
{% end %}

{% block navbarTitle %}
<span class="englishText">Presskit</span><span class="japaneseText">プレスキット</span><span class="displayText"></span>
{% end %}

{% block content %}
<div class="row">
	<div id="factsheet" class="col s12 m3 offset-m1 l2 offset-l2">
		<div class="row subrow">
			<div id="titleSubcolumn" class="col s12">
				<h2>
					<div class="leftAdjust title text"><span class="englishText">FACTSHEET</span><span class="japaneseText">ファクトシート</span><span class="displayText"></span></div>
				</h2>
			</div>
			<div id="leftSubcolumn" class="col s6 m12">
				<h5>
					<div class="leftAdjust bold text"><span class="englishText">Publisher:</span><span class="japaneseText">出版社：</span><span class="displayText"></span></div>
					<div class="leftAdjust text"><span class="englishText">Enemy Anemone</span><span class="japaneseText">Enemy Anemone</span><span class="displayText"></span></div>
					<div class="leftAdjust text"><span class="englishText">Milwaukee, WI</span><span class="japaneseText">ウィスコンシン州ミルウォーキー</span><span class="displayText"></span></div>
				</h5>

				<h5>
					<div class="leftAdjust bold text"><span class="englishText">Developer:</span><span class="japaneseText">開発者：</span><span class="displayText"></span></div>
					<div class="leftAdjust text"><span class="englishText">Spenser Solys</span><span class="japaneseText">スペンサーソリス</span><span class="displayText"></span></div>
				</h5>

				<h5>
					<div class="leftAdjust bold text"><span class="englishText">Release Dates:</span><span class="japaneseText">リリース日：</span><span class="displayText"></span></div>
					<div class="leftAdjust text"><span class="englishText">Google Play: TBD</span><span class="japaneseText">グーグルプレイ：未定</span><span class="displayText"></span></div>
					<div class="leftAdjust text"><span class="englishText">iOS: TBD</span><span class="japaneseText">iOS：未定</span><span class="displayText"></span></div>
					<div class="leftAdjust text"><span class="englishText">Steam: TBD</span><span class="japaneseText">Steam：未定</span><span class="displayText"></span></div>
					<div class="leftAdjust text"><span class="englishText">Nintendo Switch: TBD</span><span class="japaneseText">ニンテンドースイッチ：未定</span><span class="displayText"></span></div>

				</h5>

				<h5>
					<div class="leftAdjust bold text" target="_blank"><span class="englishText">Platforms:</span><span class="japaneseText">プラットフォーム：</span><span class="displayText"></span></div>
					<a href="https://play.google.com/store" target="_blank"><div class="leftAdjust text"><span class="englishText">Google Play</span><span class="japaneseText">グーグルプレイ</span><span class="displayText"></span></div></a>
					<a href="https://apps.apple.com/us/app/" target="_blank"><div class="leftAdjust text"><span class="englishText">iOS</span><span class="japaneseText">iOS</span><span class="displayText"></span></div></a>
					<a href="https://store.steampowered.com/app/" target="_blank"><div class="leftAdjust text"><span class="englishText">Steam</span><span class="japaneseText">Steam</span><span class="displayText"></span></div></a>
					<a href="https://www.nintendo.com/games/detail/" target="_blank"><div class="leftAdjust text"><span class="englishText">Nintendo Switch</span><span class="japaneseText">ニンテンドースイッチ</span><span class="displayText"></span></div></a>
				</h5>			
			</div>
			<div id="rightSubcolumn" class="col s6 m12">
				<h5>
					<div class="leftAdjust bold text"><span class="englishText">Languages:</span><span class="japaneseText">言語：</span><span class="displayText"></span></div>
					<div class="leftAdjust text"><span class="englishText">English</span><span class="japaneseText">英語</span><span class="displayText"></span></div>
					<div class="leftAdjust text"><span class="englishText">Japanese</span><span class="japaneseText">日本語</span><span class="displayText"></span></div>
				</h5>

				<h5>
					<div class="leftAdjust bold text"><span class="englishText">Website:</span><span class="japaneseText">ウェブサイト：</span><span class="displayText"></span></div>
					<a href="https://minesweeper.scub3d.io/" target="_blank"><div class="leftAdjust text"><span class="englishText">minesweeper.scub3d.io</span><span class="japaneseText">minesweeper.scub3d.io</span><span class="displayText"></span></div></a>
				</h5>

				<h5>
					<div class="leftAdjust bold text"><span class="englishText">Press / Business Contact:</span><span class="japaneseText">プレス/ビジネス連絡先：</span><span class="displayText"></span></div>
					<a href="mailto:contact@scub3d.io"><div class="leftAdjust text"><span class="englishText">contact@scub3d.io</span><span class="japaneseText">contact.scub3d.io</span><span class="displayText"></span></div></a>
				</h5>

				<h5>
					<div class="leftAdjust bold text"><span class="englishText">Socials:</span><span class="japaneseText">ソーシャルメディア：</span><span class="displayText"></span></div>
					<a href="https://twitter.com/" target="_blank"><div class="leftAdjust text"><span class="englishText">Twitter</span><span class="japaneseText">ツイッター</span><span class="displayText"></span></div></a>
					<a href="https://facebook.com/" target="_blank"><div class="leftAdjust text"><span class="englishText">Facebook</span><span class="japaneseText">フェイスブック</span><span class="displayText"></span></div></a>
					<a href="https://youtube.com/" target="_blank"><div class="leftAdjust text"><span class="englishText">YouTube</span><span class="japaneseText">YouTube</span><span class="displayText"></span></div></a>
					<a href="https://reddit.com/" target="_blank"><div class="leftAdjust text"><span class="englishText">Reddit</span><span class="japaneseText">Reddit</span><span class="displayText"></span></div></a>
					<a href="https://imgur.com/" target="_blank"><div class="leftAdjust text"><span class="englishText">Imgur</span><span class="japaneseText">Imgur</span><span class="displayText"></span></div></a>
				</h5>
			</div>
		</div>
	</div>

	<div id="mainChunk" class="col s11 m7 l7">
		<h2>
			<div class="leftAdjust title text"><span class="englishText">ENEMY ANEMONE</span><span class="japaneseText">ENEMY ANEMONE</span><span class="displayText"></span></div>
		</h2>

		<h4>
			<div class="leftAdjust text"><span class="englishText">Under construction. Please check back later.</span><span class="japaneseText">Under construction. Please check back later.</span><span class="displayText"></span></div>
		</h4>

		<div class="horizontal-line"></div>

<!-- 			<h2>
			<div class="leftAdjust bold text"><span class="englishText">History</span><span class="japaneseText">歴史</span><span class="displayText"></span></div>
		</h2>

		<h4>
			<div class="leftAdjust text"><span class="englishText">History Paragraph 1</span><span class="japaneseText"></span><span class="displayText"></span></div>
		</h4>

		<div class="horizontal-line"></div>
-->
		<h2>
			<div class="leftAdjust bold text"><span class="englishText">3D Minesweeper Description</span><span class="japaneseText">3Dマインスイーパの説明</span><span class="displayText"></span></div>
		</h2>

		<h4>
			<div class="leftAdjust text"><span class="englishText">Description Paragraph 1</span><span class="japaneseText"></span><span class="displayText"></span></div>
			<br>
			<div class="leftAdjust text"><span class="englishText">Description Paragraph 2</span><span class="japaneseText"></span><span class="displayText"></span></div>
		</h4>

		<div class="horizontal-line"></div>

		<h2>
			<div class="leftAdjust bold text"><span class="englishText">Features</span><span class="japaneseText">特徴</span><span class="displayText"></span></div>
		</h2>

		<h4 class="no-top-margin">
			<ul class="browser-default no-top-margin">
				<li class="leftAdjust title text"><span class="englishText">Point one</span><span class="japaneseText">Todo</span><span class="displayText"></span></li>
				<li class="leftAdjust title text"><span class="englishText">Point two</span><span class="japaneseText">Todo</span><span class="displayText"></span></li>
				<li class="leftAdjust title text"><span class="englishText">Point three</span><span class="japaneseText">Todo</span><span class="displayText"></span></li>
				<li class="leftAdjust title text"><span class="englishText">Point four</span><span class="japaneseText">Todo</span><span class="displayText"></span></li>
				<li class="leftAdjust title text"><span class="englishText">Point seven</span><span class="japaneseText">Todo</span><span class="displayText"></span></li>
				<li class="leftAdjust title text"><span class="englishText">Point six</span><span class="japaneseText">Todo</span><span class="displayText"></span></li>
			</ul>	
		</h4>

		<div class="horizontal-line"></div>

		<h2>
			<div class="leftAdjust bold text"><span class="englishText">Videos</span><span class="japaneseText">ビデオ</span><span class="displayText"></span></div>
		</h2>

 		<div class="video-container">
			<iframe src="//www.youtube.com/embed/c1qPTujxxrM?wmode=opaque" frameborder="0" allowfullscreen></iframe>
		</div>

		<div class="video-container">
			<iframe src="//www.youtube.com/embed/c1qPTujxxrM?wmode=opaque" frameborder="0" allowfullscreen></iframe>
		</div>

		<div class="video-container">
			<iframe src="//www.youtube.com/embed/c1qPTujxxrM?wmode=opaque" frameborder="0" allowfullscreen></iframe>
		</div>


		<div class="horizontal-line"></div>

		<h2>
			<div class="leftAdjust bold text"><span class="englishText">Screenshots</span><span class="japaneseText">スクリーンショット</span><span class="displayText"></span></div>
		</h2>

		<div class="row">
			<div class="col s3">
				<a href="//static.scub3d.io/minesweeper/img/screenshot_1.png"><img class="screenshot responsive-img" src="//static.scub3d.io/minesweeper/img/screenshot_1.png"></a>
			</div>
			<div class="col s3">
				<a href="//static.scub3d.io/minesweeper/img/screenshot_2.png"><img class="screenshot responsive-img" src="//static.scub3d.io/minesweeper/img/screenshot_2.png"></a>
			</div>

			<div class="col s3">
				<a href="//static.scub3d.io/minesweeper/img/screenshot_3.png"><img class="screenshot responsive-img" src="//static.scub3d.io/minesweeper/img/screenshot_3.png"></a>
			</div>
			<div class="col s3">
				<a href="//static.scub3d.io/minesweeper/img/screenshot_1.png"><img class="screenshot responsive-img" src="//static.scub3d.io/minesweeper/img/screenshot_1.png"></a>
			</div>

		</div>


		<div class="horizontal-line"></div>

		<h2>
			<div class="leftAdjust bold text"><span class="englishText">GIFS</span><span class="japaneseText">GIFS</span><span class="displayText"></span></div>
		</h2>

		<div class="row">
			<div class="col s6 m6 l4">
				<div class="gyfcat"><iframe src='https://gfycat.com/ifr/MilkyAcademicAfricanclawedfrog' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
			</div>

			<div class="col s6 m6 l4">
				<div class="gyfcat"><iframe src='https://gfycat.com/ifr/MilkyAcademicAfricanclawedfrog' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
			</div>

			<div class="col s6 m6 l4">
				<div class="gyfcat"><iframe src='https://gfycat.com/ifr/MilkyAcademicAfricanclawedfrog' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
			</div>
		</div>


		<div class="horizontal-line"></div>

		<h2>
			<div class="leftAdjust bold text"><span class="englishText">Logos</span><span class="japaneseText">：</span><span class="displayText"></span></div>
		</h2>

		<div class="row">
			<div class="col s6">
				<a href=""><img class="screenshot responsive-img" src=""></a>
				<a href=""><img class="screenshot responsive-img" src=""></a>
			</div>
			<div class="col s6">
				<a href=""><img class="screenshot responsive-img" src=""></a>
				<a href=""><img class="screenshot responsive-img" src=""></a>
			</div>

		</div>
	</div>
</div>
{% end %}

{% block js %}
<!-- Ignore me? --> 
{% end %}
